Code-Platformio/Node Red flow.txt
[{"id":"8a8aa6d6.689c68","type":"tab","label":"Torch","disabled":false,"info":""},{"id":"6ffee7d9.cd1598","type":"mqtt in","z":"8a8aa6d6.689c68","name":"Color Node","topic":"homie/torch/ColorNode/#","qos":"2","datatype":"auto","broker":"bdde04.621d62","x":230,"y":280,"wires":[["58c43ea4.eba37"]]},{"id":"58c43ea4.eba37","type":"ui_dropdown","z":"8a8aa6d6.689c68","name":"Color","label":"Color","tooltip":"","place":"Select option","group":"72652a05.074684","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Red","value":"red","type":"str"},{"label":"Yellow","value":"yellow","type":"str"},{"label":"Green","value":"green","type":"str"},{"label":"Cyan","value":"cyan","type":"str"},{"label":"Blue","value":"blue","type":"str"},{"label":"Magenta","value":"magenta","type":"str"},{"label":"White","value":"white","type":"str"}],"payload":"","topic":"homie/torch/ColorNode/color/set","topicType":"str","x":410,"y":280,"wires":[["af7cc130.dc8ac","34fde8f8.91e7b8"]]},{"id":"af7cc130.dc8ac","type":"mqtt out","z":"8a8aa6d6.689c68","name":"Torch","topic":"","qos":"","retain":"","broker":"bdde04.621d62","x":1130,"y":360,"wires":[]},{"id":"51139377.04843c","type":"mqtt in","z":"8a8aa6d6.689c68","name":"Effect Node","topic":"homie/torch/EffectNode/#","qos":"2","datatype":"auto","broker":"bdde04.621d62","x":230,"y":180,"wires":[["40518d20.3c9254","b502baa5.55dbb8"]]},{"id":"40518d20.3c9254","type":"ui_dropdown","z":"8a8aa6d6.689c68","name":"Effect","label":"Effect","tooltip":"","place":"Select option","group":"72652a05.074684","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"fade","type":"str"},{"label":"","value":"cyclon","type":"str"},{"label":"","value":"twinkle","type":"str"},{"label":"","value":"twinkle random","type":"str"},{"label":"","value":"sparkle","type":"str"},{"label":"","value":"sparkle random","type":"str"},{"label":"","value":"color wipe","type":"str"},{"label":"","value":"rainbow cycle","type":"str"},{"label":"","value":"theater","type":"str"},{"label":"","value":"theater rainbow","type":"str"},{"label":"","value":"fire","type":"str"},{"label":"","value":"ice fire","type":"str"},{"label":"","value":"meteor rain","type":"str"},{"label":"","value":"rain","type":"str"},{"label":"","value":"marble","type":"str"},{"label":"","value":"heart beat","type":"str"}],"payload":"","topic":"homie/torch/EffectNode/effect/set","topicType":"str","x":410,"y":180,"wires":[["af7cc130.dc8ac","2f8bd8a0.81bdd8"]]},{"id":"b502baa5.55dbb8","type":"debug","z":"8a8aa6d6.689c68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":120,"wires":[]},{"id":"46b8835a.d26e1c","type":"mqtt in","z":"8a8aa6d6.689c68","name":"Restart Node","topic":"homie/torch/RestartNode/#","qos":"2","datatype":"auto","broker":"bdde04.621d62","x":230,"y":500,"wires":[["e5d3bc24.b1329","bef9b78a.dc09c8"]]},{"id":"fb3bc7b.651bb38","type":"ui_switch","z":"8a8aa6d6.689c68","name":"OnOff","label":"OnOff","tooltip":"","group":"72652a05.074684","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"homie/torch/PowerNode/poweron/set","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":410,"y":380,"wires":[["af7cc130.dc8ac","73fbd49c.5763ac"]]},{"id":"e5d3bc24.b1329","type":"debug","z":"8a8aa6d6.689c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":640,"wires":[]},{"id":"fbfe4662.712dd8","type":"influxdb in","z":"8a8aa6d6.689c68","influxdb":"6c6e7528.a0764c","name":"","query":"SELECT LAST(*) FROM \"torch\"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":640,"y":500,"wires":[["c5a7de51.bceef","890a267d.2c0398","af42d357.bdc9"]]},{"id":"2f8bd8a0.81bdd8","type":"function","z":"8a8aa6d6.689c68","name":"Prep for InfluxDB","func":"msg.payload = [{\n    effect: msg.payload,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["f42a7994.80c878"]]},{"id":"f42a7994.80c878","type":"influxdb out","z":"8a8aa6d6.689c68","influxdb":"6c6e7528.a0764c","name":"","measurement":"torch","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1040,"y":180,"wires":[]},{"id":"3bea1082.649ff","type":"debug","z":"8a8aa6d6.689c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":560,"wires":[]},{"id":"34fde8f8.91e7b8","type":"function","z":"8a8aa6d6.689c68","name":"Prep for InfluxDB","func":"msg.payload = [{\n    color: msg.payload,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["f42a7994.80c878"]]},{"id":"73fbd49c.5763ac","type":"function","z":"8a8aa6d6.689c68","name":"Prep for InfluxDB","func":"msg.payload = [{\n    state: msg.payload,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["f42a7994.80c878"]]},{"id":"bef9b78a.dc09c8","type":"function","z":"8a8aa6d6.689c68","name":"Filter Payload","func":"if (msg.payload == \"true\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["fbfe4662.712dd8"]]},{"id":"db962a3a.866f68","type":"ui_switch","z":"8a8aa6d6.689c68","name":"Restart","label":"Restart","tooltip":"","group":"72652a05.074684","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"homie/torch/PowerNode/poweron/set","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":240,"y":440,"wires":[["bef9b78a.dc09c8"]]},{"id":"c5a7de51.bceef","type":"function","z":"8a8aa6d6.689c68","name":"Filter Color","func":"msg.payload = msg.payload[0].last_color;\nmsg.topic = \"homie/torch/ColorNode/color/set\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":500,"wires":[["3bea1082.649ff","af7cc130.dc8ac"]]},{"id":"890a267d.2c0398","type":"function","z":"8a8aa6d6.689c68","name":"Filter Effect","func":"msg.payload = msg.payload[0].last_effect;\nmsg.topic = \"homie/torch/EffectNode/effect/set\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":560,"wires":[["3bea1082.649ff","af7cc130.dc8ac"]]},{"id":"af42d357.bdc9","type":"function","z":"8a8aa6d6.689c68","name":"Filter State","func":"msg.payload = msg.payload[0].last_state;\nmsg.topic = \"homie/torch/PowerNode/poweron/set\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":620,"wires":[["3bea1082.649ff","af7cc130.dc8ac"]]},{"id":"bdde04.621d62","type":"mqtt-broker","z":"","name":"","broker":"192.168.178.26","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72652a05.074684","type":"ui_group","z":"","name":"Torch","tab":"11bf9779.91e3b9","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c6e7528.a0764c","type":"influxdb","z":"","hostname":"192.168.178.40","port":"8086","protocol":"http","database":"home_test","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"11bf9779.91e3b9","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]